{$DOMAIN} {
  encode zstd gzip
  tls {$ACME_EMAIL}

  @ws {
    path {$SIGNALING_WS_PATH}
  }
  reverse_proxy @ws {$SIGNALING_UPSTREAM}
  reverse_proxy /healthz {$SIGNALING_UPSTREAM}
  reverse_proxy {$CLIENT_UPSTREAM}
}
